[package]
name = "web_app"
version = "0.1.0"
edition = "2024"

[dependencies]
actix-service = "2.0.3"
actix-web = "4.12.1"
env_logger = "0.11.8"
futures = "0.3.31"
log = "0.4.29"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.149"
