services:
  postgres:
    container_name: "to_do_db"
    image: "postgres:18"
    restart: always
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: to_do
      POSTGRES_PASSWORD: postgres
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 10s

  redis:
    container_name: "to_do_redis"
    image: "redis:8.2.3"
    ports:
      - "6379:6379"
