<!DOCTYPE html>
<html lang="en">

<head>
  <meta charSet="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta httpEquiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="This is a simple to do app" />
  <title>To Do App</title>
</head>

<style>
  {{BASE_CSS}}
  {{CSS}}
  HEADER_CSS
</style>

<body>
  
  <div class="mainContainer">
    <h1 class="main-title">Oh! My Gorgeous <br /> Todo List!</h1>
    <br />
    <br />
    <br />

    HEADER_HTML
        

    <h1>Done Items</h1>
    <div id="doneItems"></div>

    <h1>To Do Items</h1>
    <div id="pendingItems"></div>

    <!-- Input Section -->
    <div class="inputContainer">
      <input type="text" id="name" placeholder="Create todo item...">
      <button id="create-button">
        <span class="icon">+</span> Create
      </button>
    </div>

    <p class="footer-text">
      Made with ❤️ by <a target="_blank" rel="noopener" href="https://www.linkedin.com/in/%E2%98%80-ioan-z-29109b161/">Ioan Zîcu</a>
    </p>
  </div>

</body>

<script>
  {{JAVASCRIPT}}
</script>

</html>
